@model TeamProject.Models.HomeProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <img id="img1" src="/MiniImages/@Model.images.FirstOrDefault().MiniImage" data-zoom-image="/Images/@Model.images.FirstOrDefault().Name" />
            <div id="gal">
                @for (int i = 0; i < Model.images.Count; i++)
                {
                    <a href="#" data-image="/MiniImages/@Model.images.ElementAt(i).MiniImage" data-zoom-image="/Images/@Model.images.ElementAt(i).Name">
                        <img id="img1" src="/MiniImages/@Model.images.ElementAt(i).MiniImage" width="100px" />
                    </a>
                }
            </div>
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3>@Model.Title</h3>
                    <h4>&#36;@Model.Price</h4>
                </div>
                <div class="clearfix"></div>
                <div class="shocase-rt-bot">
                    <div class="float-qty-chart">
                        <ul>
                            <li class="qty">
                                <h4>QTY</h4>
                                <select class="form-control qnty-chrt" id="quantity">
                                    @{
                                        int k = 1;
                                        int q = Model.Quantity;
                                        while (k <= 5 && q > 0)
                                        {
                                            <option>@k</option>
                                            k++;
                                            q--;
                                        }
                                    }
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <ul>
                        <li>
                            <a class="btn" href="#" role="button">Buy Now</a>
                        </li>
                    </ul>
                </div>
                @Html.ActionLink("Add to cart", "AddToCart", new { id = Model.Id }, new { @class = "addToCart", id = Model.Id, name = Model.Id })
                @*<a class="addToCart" href="#" id="addToCart">Add To Cart</a>*@

            </div>

        </div>
    </div>
</div>
@section Basket{
    <div class="cart box_1">
        @{
            string linkText = "$" + @ViewBag.TotalPrice + "(" + ViewBag.CountProductInBasket + ")";

        }
        <h3>
            <div class="total">
                @Html.ActionLink(linkText, "basket")
            </div>
        </h3>
        <div class="clearfix"> </div>
    </div>

}

@section Menu{
    @foreach (var c in ViewBag.ListCategory)
    {
        string linkText = c.Name;
        <li>@Html.ActionLink(linkText, "Category", new { id = c.Id })</li>
    }
}

@section Scripts
    {
    <script>
        //images
        $("#img1").elevateZoom({ gallery: 'gal', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif' });
        $("#img1").bind("click", function (e) {
            var ez = $('#img1').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
        });

        $(".addToCart").on("click", function () {
            var elm = $("#quantity");
            var q = parseInt(elm.val());
            $.ajax({
                type: 'POST',
                url: '/home/AddToCart',
                data: { productId: @Model.Id,quantity:q},
                success: function (result) {
                    location.reload();
                }
            })
            return false;
        })
    </script>
}
