@model PagedList.IPagedList<TeamProject.Models.ProductsViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsProduct", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.Id }, new { @class = "deleteProduct", id = item.Id, name = item.Id })
        </td>
    </tr>
}

</table>
<br />
@*Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("Products", new { page }))
@section Scripts
{
    <script>
        $(".deleteProduct").on("click", function () {
            var r = confirm("Delete?");
            if (r==true)
            {
                var elm = $(this);
                var catId = elm.attr("id");
                $.ajax({
                    type: 'POST',
                    url: '/admin/DeleteProduct',
                    data: { id: catId },
                    success: function (result) {
                        location.reload();
                    }
                })
            }
            return false;
        })
    </script>
}