@model IEnumerable<TeamProject.Models.RolesViewModel>

@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "AddRole")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityUsers)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRole", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteRole", new { id=item.Id }, new { @class = "deleteRole", id = item.Id, name = item.Id })
        </td>
    </tr>
}

</table>


@section Scripts
{
    <script>
        $(".deleteRole").on("click", function () {
            var r = confirm("Delete?");
            if (r==true)
            {
                var elm = $(this);
                var roleId = elm.attr("id");
                $.ajax({
                    type: 'POST',
                    url: '/admin/DeleteRole',
                    data: { id: roleId },
                    success: function (result) {
                        location.reload();
                    }
                })
            }
            return false;
        })
    </script>
}
